In [156]:
# from google.colab import drive
# drive.mount('/content/drive')
!git clone https://github.com/nguyenluan2001/CS114.L21
url_wecode = '/content/CS114.L21/Predict_score/wecode.csv'

fatal: destination path 'CS114.L21' already exists and is not an empty directory.

In [157]:
import pandas as pd 
df=pd.read_csv(url_wecode)
df.head()

   id  assignment_id  ...           created_at           updated_at
0   4              0  ...  2020-10-30 10:58:11  2020-10-30 10:58:19
1   5              0  ...  2020-10-30 11:07:09  2020-10-30 11:07:17
2   6              0  ...  2020-10-30 11:08:01  2020-10-30 11:23:36
3   7              0  ...  2020-10-30 11:11:41  2020-10-30 11:11:42
4   8              0  ...  2020-10-30 11:15:06  2020-10-30 11:15:07

[5 rows x 12 columns]

**Tính tổng số problem của từng user**

In [158]:
# lấy problem_id đã làm của từng user_id
problems=df.groupby("user_id")["problem_id"].count()
# temp2=df.groupby("user_id")["pre_score"].apply(list)
print(problems)
# print(listProblemId.iat[0])

user_id
1         2
4        54
5         6
6       130
7         5
       ...
1860     76
1862     12
1864    187
1865     99
1868     47
Name: problem_id, Length: 1159, dtype: int64

**Tính tổng điểm của từng user**

In [159]:
# Tình tổng điểm của mỗi user
totalScores=df.groupby("user_id")["pre_score"].sum()
print(totalScores)

user_id
1        10000
4       466000
5        30000
6       965637
7        18843
         ...
1860    405440
1862     40000
1864    563292
1865    189460
1868    390000
Name: pre_score, Length: 1159, dtype: int64

**Tính số lần status=Compilation Error của từng user**

In [160]:
compError=df.loc[(df.status == "Compilation Error")].groupby('user_id')['problem_id'].count()
print(compError)

user_id
1        1
4        6
5        2
6       25
11       7
        ..
1859     9
1860    10
1862     4
1864    55
1865    40
Name: problem_id, Length: 1143, dtype: int64

**Tính số lần status=SCORE của từng user**

In [161]:
score=df.loc[(df.status == "SCORE")].groupby('user_id')['problem_id'].count()
print(score)

user_id
1         1
4        48
5         4
6       105
7         5
       ...
1860     66
1862      8
1864    132
1865     59
1868     47
Name: problem_id, Length: 1155, dtype: int64

**Nối các dữ liệu vừa tìm được lại**

In [162]:
frames=[problems,totalScores]
result=pd.concat([problems,totalScores,compError], axis=1, keys=["problems", "totalScores", "compError"])
print(result)

         problems  totalScores  compError
user_id
1               2        10000        1.0
4              54       466000        6.0
5               6        30000        2.0
6             130       965637       25.0
7               5        18843        NaN
...           ...          ...        ...
1860           76       405440       10.0
1862           12        40000        4.0
1864          187       563292       55.0
1865           99       189460       40.0
1868           47       390000        NaN

[1159 rows x 3 columns]